
body {
    display: flex;
    flex-direction: column;
    width: 960px;
    padding: 48px;
}

.title {
    text-align: center;
    font-size: 32px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    position: relative;
    width: 960px;  
    height: 960px;
    
}

.square {
    outline: 1px solid black;
    flex:6.25%;
    
}

.squareInput {
    flex: 1;
    align-self: center;
    margin-bottom: 32px;  
}